body{
    background-color: royalblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.game-container {
    padding: 50px 40px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
  }
  
  .figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
  }
  
  .figure-part {
    display: none;
  }

  .wrong-letter-wapper{
    position: absolute;
    top: 40%;
    right: 20%;
    
  }
